{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. YOU CAN COPY AND PASTE INTO A NEW SNIPPET.
  THIS FILE WILL BE OVERWRITTEN.
{% endcomment %}
{% if blog.id == 22383263831 %}
  <div class="custom-fields-wrapper">
    {% include 'custom_fields.articles.featured--instagram_desktop' %}
    {% include 'custom_fields.articles.featured--instagram_mobile' %}
    {% include 'custom_fields.articles.image1' %}
    {% include 'custom_fields.articles.image1_link' %}
    {% include 'custom_fields.articles.embed-instagram1' %}
    {% include 'custom_fields.articles.embed-instagram-mobile-1' %}
    {% include 'custom_fields.articles.embed-instagram-link1' %}
    {% include 'custom_fields.articles.heading1' %}
    {% include 'custom_fields.articles.content1' %}
    {% include 'custom_fields.articles.image2' %}
    {% include 'custom_fields.articles.image2_link' %}
    {% include 'custom_fields.articles.embed-instagram2' %}
    {% include 'custom_fields.articles.embed-instagram-mobile-2' %}
    {% include 'custom_fields.articles.embed-instagram-link2' %}
    {% include 'custom_fields.articles.heading2' %}
    {% include 'custom_fields.articles.content2' %}
    {% include 'custom_fields.articles.image3' %}
    {% include 'custom_fields.articles.image3_link' %}
    {% include 'custom_fields.articles.embed-instagram3' %}
    {% include 'custom_fields.articles.embed-instagram-mobile-3' %}
    {% include 'custom_fields.articles.embed-instagram-link3' %}
    {% include 'custom_fields.articles.heading3' %}
    {% include 'custom_fields.articles.content3' %}
    {% include 'custom_fields.articles.image4' %}
    {% include 'custom_fields.articles.image4_link' %}
    {% include 'custom_fields.articles.embed-instagram4' %}
    {% include 'custom_fields.articles.embed-instagram-mobile-4' %}
    {% include 'custom_fields.articles.embed-instagram-link4' %}
    {% include 'custom_fields.articles.heading4' %}
    {% include 'custom_fields.articles.content4' %}
    {% include 'custom_fields.articles.image5' %}
    {% include 'custom_fields.articles.image5_link' %}
    {% include 'custom_fields.articles.embed-instagram5' %}
    {% include 'custom_fields.articles.embed-instagram-mobile-5' %}
    {% include 'custom_fields.articles.embed-instagram-link5' %}
    {% include 'custom_fields.articles.heading5' %}
    {% include 'custom_fields.articles.content5' %}
    {% include 'custom_fields.articles.image6' %}
    {% include 'custom_fields.articles.image6_link' %}
    {% include 'custom_fields.articles.embed-instagram6' %}
    {% include 'custom_fields.articles.embed-instagram-mobile-6' %}
    {% include 'custom_fields.articles.embed-instagram-link6' %}
    {% include 'custom_fields.articles.heading6' %}
    {% include 'custom_fields.articles.content6' %}
    {% include 'custom_fields.articles.image7' %}
    {% include 'custom_fields.articles.image7_link' %}
    {% include 'custom_fields.articles.embed-instagram7' %}
    {% include 'custom_fields.articles.embed-instagram-mobile-7' %}
    {% include 'custom_fields.articles.embed-instagram-link7' %}
    {% include 'custom_fields.articles.heading7' %}
    {% include 'custom_fields.articles.content7' %}
    {% include 'custom_fields.articles.video-image-1' %}
    {% include 'custom_fields.articles.video-1' %}
    {% include 'custom_fields.articles.video-content-1' %}
    {% include 'custom_fields.articles.product-handle-1' %}
    {% include 'custom_fields.articles.product-content-1' %}
    {% include 'custom_fields.articles.video-image-2' %}
    {% include 'custom_fields.articles.video-2' %}
    {% include 'custom_fields.articles.video-content-2' %}
    {% include 'custom_fields.articles.product-handle-2' %}
    {% include 'custom_fields.articles.product-content-2' %}
    {% include 'custom_fields.articles.video-image-3' %}
    {% include 'custom_fields.articles.video-3' %}
    {% include 'custom_fields.articles.video-content-3' %}
    {% include 'custom_fields.articles.product-handle-3' %}
    {% include 'custom_fields.articles.product-content-3' %}
    {% include 'custom_fields.articles.collection' %}
    {% include 'custom_fields.articles.author_name' %}
    {% include 'custom_fields.articles.problem' %}
    {% include 'custom_fields.articles.skin' %}
    {% include 'custom_fields.articles.age' %}
    {% include 'custom_fields.articles.body_type' %}
    {% include 'custom_fields.articles.price' %}
    {% include 'custom_fields.articles.celebrities' %}
    {% include 'custom_fields.articles.culture' %}
    {% include 'custom_fields.articles.device_type' %}
    {% include 'custom_fields.articles.family_size' %}
    {% include 'custom_fields.articles.fashion' %}
    {% include 'custom_fields.articles.events' %}
    {% include 'custom_fields.articles.gender' %}
    {% include 'custom_fields.articles.health_conscious' %}
    {% include 'custom_fields.articles.home_making' %}
    {% include 'custom_fields.articles.cause' %}
    {% include 'custom_fields.articles.colour' %}
    {% include 'custom_fields.articles.hair_attributes' %}
    {% include 'custom_fields.articles.interest' %}
    {% include 'custom_fields.articles.life_events' %}
    {% include 'custom_fields.articles.lifestage' %}
    {% include 'custom_fields.articles.lifestyle' %}
    {% include 'custom_fields.articles.lsm' %}
    {% include 'custom_fields.articles.marital_status' %}
    {% include 'custom_fields.articles.media' %}
    {% include 'custom_fields.articles.naturals' %}
    {% include 'custom_fields.articles.onsite' %}
    {% include 'custom_fields.articles.persona' %}
    {% include 'custom_fields.articles.problems' %}
    {% include 'custom_fields.articles.product' %}
    {% include 'custom_fields.articles.purchase_details' %}
    {% include 'custom_fields.articles.travel' %}
    {% include 'custom_fields.articles.trials___sampling' %}
    {% include 'custom_fields.articles.values' %}
    {% include 'custom_fields.articles.vegan' %}
    {% include 'custom_fields.articles.banner_image' %}
    {% include 'custom_fields.articles.step1product' %}
    {% include 'custom_fields.articles.step1_product2' %}
    {% include 'custom_fields.articles.step1_product3' %}
    {% include 'custom_fields.articles.step2_product1' %}
    {% include 'custom_fields.articles.step2_product2' %}
    {% include 'custom_fields.articles.step2_product3' %}
    {% include 'custom_fields.articles.step3_product1' %}
    {% include 'custom_fields.articles.step3_product2' %}
    {% include 'custom_fields.articles.step3_product3' %}
    {% include 'custom_fields.articles.variant_1_url' %}
    {% include 'custom_fields.articles.step_1_variant_2_url' %}
    {% include 'custom_fields.articles.step_1_variant_3_url' %}
    {% include 'custom_fields.articles.step_2_variant_1_url' %}
    {% include 'custom_fields.articles.step_2_variant_2_url' %}
    {% include 'custom_fields.articles.step_2_variant_3_url' %}
    {% include 'custom_fields.articles.step_3_variant_1_url' %}
    {% include 'custom_fields.articles.step_3_variant_2_url' %}
    {% include 'custom_fields.articles.step_3_variant_3_url' %}
    {% include 'custom_fields.articles.image8' %}
    {% include 'custom_fields.articles.image8_link' %}
    {% include 'custom_fields.articles.embed-instagram8' %}
    {% include 'custom_fields.articles.embed-instagram-mobile-8' %}
    {% include 'custom_fields.articles.embed-instagram-link8' %}
    {% include 'custom_fields.articles.heading8' %}
    {% include 'custom_fields.articles.content8' %}
    {% include 'custom_fields.articles.banner_video' %}
    {% include 'custom_fields.articles.video_1' %}
    {% include 'custom_fields.articles.video_2' %}
    {% include 'custom_fields.articles.step1_full_video' %}
    {% include 'custom_fields.articles.grid_video_3' %}
    {% include 'custom_fields.articles.grid_full_video_2' %}
    {% include 'custom_fields.articles.grid_video_4' %}
    {% include 'custom_fields.articles.grid_full_video_3' %}
    {% include 'custom_fields.articles.video_below_heading' %}
    {% include 'custom_fields.articles.grid_video_5' %}
    {% include 'custom_fields.articles.step_4_full_video' %}
    {% include 'custom_fields.articles.grid_video_6' %}
    {% include 'custom_fields.articles.step_5_full_video' %}
    {% include 'custom_fields.articles.grid_video_7' %}
    {% include 'custom_fields.articles.step_6_full_video' %}
    {% include 'custom_fields.articles.bottom_full_video' %}
    {% include 'custom_fields.articles.centered_text' %}
  </div>
{% endif %}
{% if blog.id == 22383296599 %}
  <div class="custom-fields-wrapper">
    {% include 'custom_fields.articles.featured--instagram_desktop' %}
    {% include 'custom_fields.articles.featured--instagram_mobile' %}
    {% include 'custom_fields.articles.image1' %}
    {% include 'custom_fields.articles.image1_link' %}
    {% include 'custom_fields.articles.embed-instagram1' %}
    {% include 'custom_fields.articles.embed-instagram-mobile-1' %}
    {% include 'custom_fields.articles.embed-instagram-link1' %}
    {% include 'custom_fields.articles.heading1' %}
    {% include 'custom_fields.articles.content1' %}
    {% include 'custom_fields.articles.image2' %}
    {% include 'custom_fields.articles.image2_link' %}
    {% include 'custom_fields.articles.embed-instagram2' %}
    {% include 'custom_fields.articles.embed-instagram-mobile-2' %}
    {% include 'custom_fields.articles.embed-instagram-link2' %}
    {% include 'custom_fields.articles.heading2' %}
    {% include 'custom_fields.articles.content2' %}
    {% include 'custom_fields.articles.image3' %}
    {% include 'custom_fields.articles.image3_link' %}
    {% include 'custom_fields.articles.embed-instagram3' %}
    {% include 'custom_fields.articles.embed-instagram-mobile-3' %}
    {% include 'custom_fields.articles.embed-instagram-link3' %}
    {% include 'custom_fields.articles.heading3' %}
    {% include 'custom_fields.articles.content3' %}
    {% include 'custom_fields.articles.image4' %}
    {% include 'custom_fields.articles.image4_link' %}
    {% include 'custom_fields.articles.embed-instagram4' %}
    {% include 'custom_fields.articles.embed-instagram-mobile-4' %}
    {% include 'custom_fields.articles.embed-instagram-link4' %}
    {% include 'custom_fields.articles.heading4' %}
    {% include 'custom_fields.articles.content4' %}
    {% include 'custom_fields.articles.image5' %}
    {% include 'custom_fields.articles.image5_link' %}
    {% include 'custom_fields.articles.embed-instagram5' %}
    {% include 'custom_fields.articles.embed-instagram-mobile-5' %}
    {% include 'custom_fields.articles.embed-instagram-link5' %}
    {% include 'custom_fields.articles.heading5' %}
    {% include 'custom_fields.articles.content5' %}
    {% include 'custom_fields.articles.image6' %}
    {% include 'custom_fields.articles.image6_link' %}
    {% include 'custom_fields.articles.embed-instagram6' %}
    {% include 'custom_fields.articles.embed-instagram-mobile-6' %}
    {% include 'custom_fields.articles.embed-instagram-link6' %}
    {% include 'custom_fields.articles.heading6' %}
    {% include 'custom_fields.articles.content6' %}
    {% include 'custom_fields.articles.image7' %}
    {% include 'custom_fields.articles.image7_link' %}
    {% include 'custom_fields.articles.embed-instagram7' %}
    {% include 'custom_fields.articles.embed-instagram-mobile-7' %}
    {% include 'custom_fields.articles.embed-instagram-link7' %}
    {% include 'custom_fields.articles.heading7' %}
    {% include 'custom_fields.articles.content7' %}
    {% include 'custom_fields.articles.video-image-1' %}
    {% include 'custom_fields.articles.video-1' %}
    {% include 'custom_fields.articles.video-content-1' %}
    {% include 'custom_fields.articles.product-handle-1' %}
    {% include 'custom_fields.articles.product-content-1' %}
    {% include 'custom_fields.articles.video-image-2' %}
    {% include 'custom_fields.articles.video-2' %}
    {% include 'custom_fields.articles.video-content-2' %}
    {% include 'custom_fields.articles.product-handle-2' %}
    {% include 'custom_fields.articles.product-content-2' %}
    {% include 'custom_fields.articles.video-image-3' %}
    {% include 'custom_fields.articles.video-3' %}
    {% include 'custom_fields.articles.video-content-3' %}
    {% include 'custom_fields.articles.product-handle-3' %}
    {% include 'custom_fields.articles.product-content-3' %}
    {% include 'custom_fields.articles.collection' %}
    {% include 'custom_fields.articles.author_name' %}
    {% include 'custom_fields.articles.problem' %}
    {% include 'custom_fields.articles.skin' %}
    {% include 'custom_fields.articles.age' %}
    {% include 'custom_fields.articles.body_type' %}
    {% include 'custom_fields.articles.price' %}
    {% include 'custom_fields.articles.celebrities' %}
    {% include 'custom_fields.articles.culture' %}
    {% include 'custom_fields.articles.device_type' %}
    {% include 'custom_fields.articles.family_size' %}
    {% include 'custom_fields.articles.fashion' %}
    {% include 'custom_fields.articles.events' %}
    {% include 'custom_fields.articles.gender' %}
    {% include 'custom_fields.articles.health_conscious' %}
    {% include 'custom_fields.articles.home_making' %}
    {% include 'custom_fields.articles.cause' %}
    {% include 'custom_fields.articles.colour' %}
    {% include 'custom_fields.articles.hair_attributes' %}
    {% include 'custom_fields.articles.interest' %}
    {% include 'custom_fields.articles.life_events' %}
    {% include 'custom_fields.articles.lifestage' %}
    {% include 'custom_fields.articles.lifestyle' %}
    {% include 'custom_fields.articles.lsm' %}
    {% include 'custom_fields.articles.marital_status' %}
    {% include 'custom_fields.articles.media' %}
    {% include 'custom_fields.articles.naturals' %}
    {% include 'custom_fields.articles.onsite' %}
    {% include 'custom_fields.articles.persona' %}
    {% include 'custom_fields.articles.problems' %}
    {% include 'custom_fields.articles.product' %}
    {% include 'custom_fields.articles.purchase_details' %}
    {% include 'custom_fields.articles.travel' %}
    {% include 'custom_fields.articles.trials___sampling' %}
    {% include 'custom_fields.articles.values' %}
    {% include 'custom_fields.articles.vegan' %}
    {% include 'custom_fields.articles.banner_image' %}
    {% include 'custom_fields.articles.step1product' %}
    {% include 'custom_fields.articles.step1_product2' %}
    {% include 'custom_fields.articles.step1_product3' %}
    {% include 'custom_fields.articles.step2_product1' %}
    {% include 'custom_fields.articles.step2_product2' %}
    {% include 'custom_fields.articles.step2_product3' %}
    {% include 'custom_fields.articles.step3_product1' %}
    {% include 'custom_fields.articles.step3_product2' %}
    {% include 'custom_fields.articles.step3_product3' %}
    {% include 'custom_fields.articles.variant_1_url' %}
    {% include 'custom_fields.articles.step_1_variant_2_url' %}
    {% include 'custom_fields.articles.step_1_variant_3_url' %}
    {% include 'custom_fields.articles.step_2_variant_1_url' %}
    {% include 'custom_fields.articles.step_2_variant_2_url' %}
    {% include 'custom_fields.articles.step_2_variant_3_url' %}
    {% include 'custom_fields.articles.step_3_variant_1_url' %}
    {% include 'custom_fields.articles.step_3_variant_2_url' %}
    {% include 'custom_fields.articles.step_3_variant_3_url' %}
    {% include 'custom_fields.articles.image8' %}
    {% include 'custom_fields.articles.image8_link' %}
    {% include 'custom_fields.articles.embed-instagram8' %}
    {% include 'custom_fields.articles.embed-instagram-mobile-8' %}
    {% include 'custom_fields.articles.embed-instagram-link8' %}
    {% include 'custom_fields.articles.heading8' %}
    {% include 'custom_fields.articles.content8' %}
    {% include 'custom_fields.articles.banner_video' %}
    {% include 'custom_fields.articles.video_1' %}
    {% include 'custom_fields.articles.video_2' %}
    {% include 'custom_fields.articles.step1_full_video' %}
    {% include 'custom_fields.articles.grid_video_3' %}
    {% include 'custom_fields.articles.grid_full_video_2' %}
    {% include 'custom_fields.articles.grid_video_4' %}
    {% include 'custom_fields.articles.grid_full_video_3' %}
    {% include 'custom_fields.articles.video_below_heading' %}
    {% include 'custom_fields.articles.grid_video_5' %}
    {% include 'custom_fields.articles.step_4_full_video' %}
    {% include 'custom_fields.articles.grid_video_6' %}
    {% include 'custom_fields.articles.step_5_full_video' %}
    {% include 'custom_fields.articles.grid_video_7' %}
    {% include 'custom_fields.articles.step_6_full_video' %}
    {% include 'custom_fields.articles.bottom_full_video' %}
    {% include 'custom_fields.articles.centered_text' %}
  </div>
{% endif %}
{% if blog.id == 22385262679 %}
  <div class="custom-fields-wrapper">
    {% include 'custom_fields.articles.featured--instagram_desktop' %}
    {% include 'custom_fields.articles.featured--instagram_mobile' %}
    {% include 'custom_fields.articles.image1' %}
    {% include 'custom_fields.articles.image1_link' %}
    {% include 'custom_fields.articles.embed-instagram1' %}
    {% include 'custom_fields.articles.embed-instagram-mobile-1' %}
    {% include 'custom_fields.articles.embed-instagram-link1' %}
    {% include 'custom_fields.articles.heading1' %}
    {% include 'custom_fields.articles.content1' %}
    {% include 'custom_fields.articles.image2' %}
    {% include 'custom_fields.articles.image2_link' %}
    {% include 'custom_fields.articles.embed-instagram2' %}
    {% include 'custom_fields.articles.embed-instagram-mobile-2' %}
    {% include 'custom_fields.articles.embed-instagram-link2' %}
    {% include 'custom_fields.articles.heading2' %}
    {% include 'custom_fields.articles.content2' %}
    {% include 'custom_fields.articles.image3' %}
    {% include 'custom_fields.articles.image3_link' %}
    {% include 'custom_fields.articles.embed-instagram3' %}
    {% include 'custom_fields.articles.embed-instagram-mobile-3' %}
    {% include 'custom_fields.articles.embed-instagram-link3' %}
    {% include 'custom_fields.articles.heading3' %}
    {% include 'custom_fields.articles.content3' %}
    {% include 'custom_fields.articles.image4' %}
    {% include 'custom_fields.articles.image4_link' %}
    {% include 'custom_fields.articles.embed-instagram4' %}
    {% include 'custom_fields.articles.embed-instagram-mobile-4' %}
    {% include 'custom_fields.articles.embed-instagram-link4' %}
    {% include 'custom_fields.articles.heading4' %}
    {% include 'custom_fields.articles.content4' %}
    {% include 'custom_fields.articles.image5' %}
    {% include 'custom_fields.articles.image5_link' %}
    {% include 'custom_fields.articles.embed-instagram5' %}
    {% include 'custom_fields.articles.embed-instagram-mobile-5' %}
    {% include 'custom_fields.articles.embed-instagram-link5' %}
    {% include 'custom_fields.articles.heading5' %}
    {% include 'custom_fields.articles.content5' %}
    {% include 'custom_fields.articles.image6' %}
    {% include 'custom_fields.articles.image6_link' %}
    {% include 'custom_fields.articles.embed-instagram6' %}
    {% include 'custom_fields.articles.embed-instagram-mobile-6' %}
    {% include 'custom_fields.articles.embed-instagram-link6' %}
    {% include 'custom_fields.articles.heading6' %}
    {% include 'custom_fields.articles.content6' %}
    {% include 'custom_fields.articles.image7' %}
    {% include 'custom_fields.articles.image7_link' %}
    {% include 'custom_fields.articles.embed-instagram7' %}
    {% include 'custom_fields.articles.embed-instagram-mobile-7' %}
    {% include 'custom_fields.articles.embed-instagram-link7' %}
    {% include 'custom_fields.articles.heading7' %}
    {% include 'custom_fields.articles.content7' %}
    {% include 'custom_fields.articles.video-image-1' %}
    {% include 'custom_fields.articles.video-1' %}
    {% include 'custom_fields.articles.video-content-1' %}
    {% include 'custom_fields.articles.product-handle-1' %}
    {% include 'custom_fields.articles.product-content-1' %}
    {% include 'custom_fields.articles.video-image-2' %}
    {% include 'custom_fields.articles.video-2' %}
    {% include 'custom_fields.articles.video-content-2' %}
    {% include 'custom_fields.articles.product-handle-2' %}
    {% include 'custom_fields.articles.product-content-2' %}
    {% include 'custom_fields.articles.video-image-3' %}
    {% include 'custom_fields.articles.video-3' %}
    {% include 'custom_fields.articles.video-content-3' %}
    {% include 'custom_fields.articles.product-handle-3' %}
    {% include 'custom_fields.articles.product-content-3' %}
    {% include 'custom_fields.articles.collection' %}
    {% include 'custom_fields.articles.author_name' %}
    {% include 'custom_fields.articles.problem' %}
    {% include 'custom_fields.articles.skin' %}
    {% include 'custom_fields.articles.age' %}
    {% include 'custom_fields.articles.body_type' %}
    {% include 'custom_fields.articles.price' %}
    {% include 'custom_fields.articles.celebrities' %}
    {% include 'custom_fields.articles.culture' %}
    {% include 'custom_fields.articles.device_type' %}
    {% include 'custom_fields.articles.family_size' %}
    {% include 'custom_fields.articles.fashion' %}
    {% include 'custom_fields.articles.events' %}
    {% include 'custom_fields.articles.gender' %}
    {% include 'custom_fields.articles.health_conscious' %}
    {% include 'custom_fields.articles.home_making' %}
    {% include 'custom_fields.articles.cause' %}
    {% include 'custom_fields.articles.colour' %}
    {% include 'custom_fields.articles.hair_attributes' %}
    {% include 'custom_fields.articles.interest' %}
    {% include 'custom_fields.articles.life_events' %}
    {% include 'custom_fields.articles.lifestage' %}
    {% include 'custom_fields.articles.lifestyle' %}
    {% include 'custom_fields.articles.lsm' %}
    {% include 'custom_fields.articles.marital_status' %}
    {% include 'custom_fields.articles.media' %}
    {% include 'custom_fields.articles.naturals' %}
    {% include 'custom_fields.articles.onsite' %}
    {% include 'custom_fields.articles.persona' %}
    {% include 'custom_fields.articles.problems' %}
    {% include 'custom_fields.articles.product' %}
    {% include 'custom_fields.articles.purchase_details' %}
    {% include 'custom_fields.articles.travel' %}
    {% include 'custom_fields.articles.trials___sampling' %}
    {% include 'custom_fields.articles.values' %}
    {% include 'custom_fields.articles.vegan' %}
    {% include 'custom_fields.articles.banner_image' %}
    {% include 'custom_fields.articles.step1product' %}
    {% include 'custom_fields.articles.step1_product2' %}
    {% include 'custom_fields.articles.step1_product3' %}
    {% include 'custom_fields.articles.step2_product1' %}
    {% include 'custom_fields.articles.step2_product2' %}
    {% include 'custom_fields.articles.step2_product3' %}
    {% include 'custom_fields.articles.step3_product1' %}
    {% include 'custom_fields.articles.step3_product2' %}
    {% include 'custom_fields.articles.step3_product3' %}
    {% include 'custom_fields.articles.variant_1_url' %}
    {% include 'custom_fields.articles.step_1_variant_2_url' %}
    {% include 'custom_fields.articles.step_1_variant_3_url' %}
    {% include 'custom_fields.articles.step_2_variant_1_url' %}
    {% include 'custom_fields.articles.step_2_variant_2_url' %}
    {% include 'custom_fields.articles.step_2_variant_3_url' %}
    {% include 'custom_fields.articles.step_3_variant_1_url' %}
    {% include 'custom_fields.articles.step_3_variant_2_url' %}
    {% include 'custom_fields.articles.step_3_variant_3_url' %}
    {% include 'custom_fields.articles.image8' %}
    {% include 'custom_fields.articles.image8_link' %}
    {% include 'custom_fields.articles.embed-instagram8' %}
    {% include 'custom_fields.articles.embed-instagram-mobile-8' %}
    {% include 'custom_fields.articles.embed-instagram-link8' %}
    {% include 'custom_fields.articles.heading8' %}
    {% include 'custom_fields.articles.content8' %}
    {% include 'custom_fields.articles.banner_video' %}
    {% include 'custom_fields.articles.video_1' %}
    {% include 'custom_fields.articles.video_2' %}
    {% include 'custom_fields.articles.step1_full_video' %}
    {% include 'custom_fields.articles.grid_video_3' %}
    {% include 'custom_fields.articles.grid_full_video_2' %}
    {% include 'custom_fields.articles.grid_video_4' %}
    {% include 'custom_fields.articles.grid_full_video_3' %}
    {% include 'custom_fields.articles.video_below_heading' %}
    {% include 'custom_fields.articles.grid_video_5' %}
    {% include 'custom_fields.articles.step_4_full_video' %}
    {% include 'custom_fields.articles.grid_video_6' %}
    {% include 'custom_fields.articles.step_5_full_video' %}
    {% include 'custom_fields.articles.grid_video_7' %}
    {% include 'custom_fields.articles.step_6_full_video' %}
    {% include 'custom_fields.articles.bottom_full_video' %}
    {% include 'custom_fields.articles.centered_text' %}
  </div>
{% endif %}
{% if blog.id == 22127837271 %}
  <div class="custom-fields-wrapper">
    {% include 'custom_fields.articles.featured--instagram_desktop' %}
    {% include 'custom_fields.articles.featured--instagram_mobile' %}
    {% include 'custom_fields.articles.image1' %}
    {% include 'custom_fields.articles.image1_link' %}
    {% include 'custom_fields.articles.embed-instagram1' %}
    {% include 'custom_fields.articles.embed-instagram-mobile-1' %}
    {% include 'custom_fields.articles.embed-instagram-link1' %}
    {% include 'custom_fields.articles.heading1' %}
    {% include 'custom_fields.articles.content1' %}
    {% include 'custom_fields.articles.image2' %}
    {% include 'custom_fields.articles.image2_link' %}
    {% include 'custom_fields.articles.embed-instagram2' %}
    {% include 'custom_fields.articles.embed-instagram-mobile-2' %}
    {% include 'custom_fields.articles.embed-instagram-link2' %}
    {% include 'custom_fields.articles.heading2' %}
    {% include 'custom_fields.articles.content2' %}
    {% include 'custom_fields.articles.image3' %}
    {% include 'custom_fields.articles.image3_link' %}
    {% include 'custom_fields.articles.embed-instagram3' %}
    {% include 'custom_fields.articles.embed-instagram-mobile-3' %}
    {% include 'custom_fields.articles.embed-instagram-link3' %}
    {% include 'custom_fields.articles.heading3' %}
    {% include 'custom_fields.articles.content3' %}
    {% include 'custom_fields.articles.image4' %}
    {% include 'custom_fields.articles.image4_link' %}
    {% include 'custom_fields.articles.embed-instagram4' %}
    {% include 'custom_fields.articles.embed-instagram-mobile-4' %}
    {% include 'custom_fields.articles.embed-instagram-link4' %}
    {% include 'custom_fields.articles.heading4' %}
    {% include 'custom_fields.articles.content4' %}
    {% include 'custom_fields.articles.image5' %}
    {% include 'custom_fields.articles.image5_link' %}
    {% include 'custom_fields.articles.embed-instagram5' %}
    {% include 'custom_fields.articles.embed-instagram-mobile-5' %}
    {% include 'custom_fields.articles.embed-instagram-link5' %}
    {% include 'custom_fields.articles.heading5' %}
    {% include 'custom_fields.articles.content5' %}
    {% include 'custom_fields.articles.image6' %}
    {% include 'custom_fields.articles.image6_link' %}
    {% include 'custom_fields.articles.embed-instagram6' %}
    {% include 'custom_fields.articles.embed-instagram-mobile-6' %}
    {% include 'custom_fields.articles.embed-instagram-link6' %}
    {% include 'custom_fields.articles.heading6' %}
    {% include 'custom_fields.articles.content6' %}
    {% include 'custom_fields.articles.image7' %}
    {% include 'custom_fields.articles.image7_link' %}
    {% include 'custom_fields.articles.embed-instagram7' %}
    {% include 'custom_fields.articles.embed-instagram-mobile-7' %}
    {% include 'custom_fields.articles.embed-instagram-link7' %}
    {% include 'custom_fields.articles.heading7' %}
    {% include 'custom_fields.articles.content7' %}
    {% include 'custom_fields.articles.video-image-1' %}
    {% include 'custom_fields.articles.video-1' %}
    {% include 'custom_fields.articles.video-content-1' %}
    {% include 'custom_fields.articles.product-handle-1' %}
    {% include 'custom_fields.articles.product-content-1' %}
    {% include 'custom_fields.articles.video-image-2' %}
    {% include 'custom_fields.articles.video-2' %}
    {% include 'custom_fields.articles.video-content-2' %}
    {% include 'custom_fields.articles.product-handle-2' %}
    {% include 'custom_fields.articles.product-content-2' %}
    {% include 'custom_fields.articles.video-image-3' %}
    {% include 'custom_fields.articles.video-3' %}
    {% include 'custom_fields.articles.video-content-3' %}
    {% include 'custom_fields.articles.product-handle-3' %}
    {% include 'custom_fields.articles.product-content-3' %}
    {% include 'custom_fields.articles.collection' %}
    {% include 'custom_fields.articles.author_name' %}
    {% include 'custom_fields.articles.problem' %}
    {% include 'custom_fields.articles.skin' %}
    {% include 'custom_fields.articles.age' %}
    {% include 'custom_fields.articles.body_type' %}
    {% include 'custom_fields.articles.price' %}
    {% include 'custom_fields.articles.celebrities' %}
    {% include 'custom_fields.articles.culture' %}
    {% include 'custom_fields.articles.device_type' %}
    {% include 'custom_fields.articles.family_size' %}
    {% include 'custom_fields.articles.fashion' %}
    {% include 'custom_fields.articles.events' %}
    {% include 'custom_fields.articles.gender' %}
    {% include 'custom_fields.articles.health_conscious' %}
    {% include 'custom_fields.articles.home_making' %}
    {% include 'custom_fields.articles.cause' %}
    {% include 'custom_fields.articles.colour' %}
    {% include 'custom_fields.articles.hair_attributes' %}
    {% include 'custom_fields.articles.interest' %}
    {% include 'custom_fields.articles.life_events' %}
    {% include 'custom_fields.articles.lifestage' %}
    {% include 'custom_fields.articles.lifestyle' %}
    {% include 'custom_fields.articles.lsm' %}
    {% include 'custom_fields.articles.marital_status' %}
    {% include 'custom_fields.articles.media' %}
    {% include 'custom_fields.articles.naturals' %}
    {% include 'custom_fields.articles.onsite' %}
    {% include 'custom_fields.articles.persona' %}
    {% include 'custom_fields.articles.problems' %}
    {% include 'custom_fields.articles.product' %}
    {% include 'custom_fields.articles.purchase_details' %}
    {% include 'custom_fields.articles.travel' %}
    {% include 'custom_fields.articles.trials___sampling' %}
    {% include 'custom_fields.articles.values' %}
    {% include 'custom_fields.articles.vegan' %}
    {% include 'custom_fields.articles.banner_image' %}
    {% include 'custom_fields.articles.step1product' %}
    {% include 'custom_fields.articles.step1_product2' %}
    {% include 'custom_fields.articles.step1_product3' %}
    {% include 'custom_fields.articles.step2_product1' %}
    {% include 'custom_fields.articles.step2_product2' %}
    {% include 'custom_fields.articles.step2_product3' %}
    {% include 'custom_fields.articles.step3_product1' %}
    {% include 'custom_fields.articles.step3_product2' %}
    {% include 'custom_fields.articles.step3_product3' %}
    {% include 'custom_fields.articles.variant_1_url' %}
    {% include 'custom_fields.articles.step_1_variant_2_url' %}
    {% include 'custom_fields.articles.step_1_variant_3_url' %}
    {% include 'custom_fields.articles.step_2_variant_1_url' %}
    {% include 'custom_fields.articles.step_2_variant_2_url' %}
    {% include 'custom_fields.articles.step_2_variant_3_url' %}
    {% include 'custom_fields.articles.step_3_variant_1_url' %}
    {% include 'custom_fields.articles.step_3_variant_2_url' %}
    {% include 'custom_fields.articles.step_3_variant_3_url' %}
    {% include 'custom_fields.articles.image8' %}
    {% include 'custom_fields.articles.image8_link' %}
    {% include 'custom_fields.articles.embed-instagram8' %}
    {% include 'custom_fields.articles.embed-instagram-mobile-8' %}
    {% include 'custom_fields.articles.embed-instagram-link8' %}
    {% include 'custom_fields.articles.heading8' %}
    {% include 'custom_fields.articles.content8' %}
    {% include 'custom_fields.articles.banner_video' %}
    {% include 'custom_fields.articles.video_1' %}
    {% include 'custom_fields.articles.video_2' %}
    {% include 'custom_fields.articles.step1_full_video' %}
    {% include 'custom_fields.articles.grid_video_3' %}
    {% include 'custom_fields.articles.grid_full_video_2' %}
    {% include 'custom_fields.articles.grid_video_4' %}
    {% include 'custom_fields.articles.grid_full_video_3' %}
    {% include 'custom_fields.articles.video_below_heading' %}
    {% include 'custom_fields.articles.grid_video_5' %}
    {% include 'custom_fields.articles.step_4_full_video' %}
    {% include 'custom_fields.articles.grid_video_6' %}
    {% include 'custom_fields.articles.step_5_full_video' %}
    {% include 'custom_fields.articles.grid_video_7' %}
    {% include 'custom_fields.articles.step_6_full_video' %}
    {% include 'custom_fields.articles.bottom_full_video' %}
    {% include 'custom_fields.articles.centered_text' %}
  </div>
{% endif %}
{% if blog.id == 22530949207 %}
  <div class="custom-fields-wrapper">
    {% include 'custom_fields.articles.featured--instagram_desktop' %}
    {% include 'custom_fields.articles.featured--instagram_mobile' %}
    {% include 'custom_fields.articles.image1' %}
    {% include 'custom_fields.articles.image1_link' %}
    {% include 'custom_fields.articles.embed-instagram1' %}
    {% include 'custom_fields.articles.embed-instagram-mobile-1' %}
    {% include 'custom_fields.articles.embed-instagram-link1' %}
    {% include 'custom_fields.articles.heading1' %}
    {% include 'custom_fields.articles.content1' %}
    {% include 'custom_fields.articles.image2' %}
    {% include 'custom_fields.articles.image2_link' %}
    {% include 'custom_fields.articles.embed-instagram2' %}
    {% include 'custom_fields.articles.embed-instagram-mobile-2' %}
    {% include 'custom_fields.articles.embed-instagram-link2' %}
    {% include 'custom_fields.articles.heading2' %}
    {% include 'custom_fields.articles.content2' %}
    {% include 'custom_fields.articles.image3' %}
    {% include 'custom_fields.articles.image3_link' %}
    {% include 'custom_fields.articles.embed-instagram3' %}
    {% include 'custom_fields.articles.embed-instagram-mobile-3' %}
    {% include 'custom_fields.articles.embed-instagram-link3' %}
    {% include 'custom_fields.articles.heading3' %}
    {% include 'custom_fields.articles.content3' %}
    {% include 'custom_fields.articles.image4' %}
    {% include 'custom_fields.articles.image4_link' %}
    {% include 'custom_fields.articles.embed-instagram4' %}
    {% include 'custom_fields.articles.embed-instagram-mobile-4' %}
    {% include 'custom_fields.articles.embed-instagram-link4' %}
    {% include 'custom_fields.articles.heading4' %}
    {% include 'custom_fields.articles.content4' %}
    {% include 'custom_fields.articles.image5' %}
    {% include 'custom_fields.articles.image5_link' %}
    {% include 'custom_fields.articles.embed-instagram5' %}
    {% include 'custom_fields.articles.embed-instagram-mobile-5' %}
    {% include 'custom_fields.articles.embed-instagram-link5' %}
    {% include 'custom_fields.articles.heading5' %}
    {% include 'custom_fields.articles.content5' %}
    {% include 'custom_fields.articles.image6' %}
    {% include 'custom_fields.articles.image6_link' %}
    {% include 'custom_fields.articles.embed-instagram6' %}
    {% include 'custom_fields.articles.embed-instagram-mobile-6' %}
    {% include 'custom_fields.articles.embed-instagram-link6' %}
    {% include 'custom_fields.articles.heading6' %}
    {% include 'custom_fields.articles.content6' %}
    {% include 'custom_fields.articles.image7' %}
    {% include 'custom_fields.articles.image7_link' %}
    {% include 'custom_fields.articles.embed-instagram7' %}
    {% include 'custom_fields.articles.embed-instagram-mobile-7' %}
    {% include 'custom_fields.articles.embed-instagram-link7' %}
    {% include 'custom_fields.articles.heading7' %}
    {% include 'custom_fields.articles.content7' %}
    {% include 'custom_fields.articles.video-image-1' %}
    {% include 'custom_fields.articles.video-1' %}
    {% include 'custom_fields.articles.video-content-1' %}
    {% include 'custom_fields.articles.product-handle-1' %}
    {% include 'custom_fields.articles.product-content-1' %}
    {% include 'custom_fields.articles.video-image-2' %}
    {% include 'custom_fields.articles.video-2' %}
    {% include 'custom_fields.articles.video-content-2' %}
    {% include 'custom_fields.articles.product-handle-2' %}
    {% include 'custom_fields.articles.product-content-2' %}
    {% include 'custom_fields.articles.video-image-3' %}
    {% include 'custom_fields.articles.video-3' %}
    {% include 'custom_fields.articles.video-content-3' %}
    {% include 'custom_fields.articles.product-handle-3' %}
    {% include 'custom_fields.articles.product-content-3' %}
    {% include 'custom_fields.articles.collection' %}
    {% include 'custom_fields.articles.author_name' %}
    {% include 'custom_fields.articles.problem' %}
    {% include 'custom_fields.articles.skin' %}
    {% include 'custom_fields.articles.age' %}
    {% include 'custom_fields.articles.body_type' %}
    {% include 'custom_fields.articles.price' %}
    {% include 'custom_fields.articles.celebrities' %}
    {% include 'custom_fields.articles.culture' %}
    {% include 'custom_fields.articles.device_type' %}
    {% include 'custom_fields.articles.family_size' %}
    {% include 'custom_fields.articles.fashion' %}
    {% include 'custom_fields.articles.events' %}
    {% include 'custom_fields.articles.gender' %}
    {% include 'custom_fields.articles.health_conscious' %}
    {% include 'custom_fields.articles.home_making' %}
    {% include 'custom_fields.articles.cause' %}
    {% include 'custom_fields.articles.colour' %}
    {% include 'custom_fields.articles.hair_attributes' %}
    {% include 'custom_fields.articles.interest' %}
    {% include 'custom_fields.articles.life_events' %}
    {% include 'custom_fields.articles.lifestage' %}
    {% include 'custom_fields.articles.lifestyle' %}
    {% include 'custom_fields.articles.lsm' %}
    {% include 'custom_fields.articles.marital_status' %}
    {% include 'custom_fields.articles.media' %}
    {% include 'custom_fields.articles.naturals' %}
    {% include 'custom_fields.articles.onsite' %}
    {% include 'custom_fields.articles.persona' %}
    {% include 'custom_fields.articles.problems' %}
    {% include 'custom_fields.articles.product' %}
    {% include 'custom_fields.articles.purchase_details' %}
    {% include 'custom_fields.articles.travel' %}
    {% include 'custom_fields.articles.trials___sampling' %}
    {% include 'custom_fields.articles.values' %}
    {% include 'custom_fields.articles.vegan' %}
    {% include 'custom_fields.articles.banner_image' %}
    {% include 'custom_fields.articles.step1product' %}
    {% include 'custom_fields.articles.step1_product2' %}
    {% include 'custom_fields.articles.step1_product3' %}
    {% include 'custom_fields.articles.step2_product1' %}
    {% include 'custom_fields.articles.step2_product2' %}
    {% include 'custom_fields.articles.step2_product3' %}
    {% include 'custom_fields.articles.step3_product1' %}
    {% include 'custom_fields.articles.step3_product2' %}
    {% include 'custom_fields.articles.step3_product3' %}
    {% include 'custom_fields.articles.variant_1_url' %}
    {% include 'custom_fields.articles.step_1_variant_2_url' %}
    {% include 'custom_fields.articles.step_1_variant_3_url' %}
    {% include 'custom_fields.articles.step_2_variant_1_url' %}
    {% include 'custom_fields.articles.step_2_variant_2_url' %}
    {% include 'custom_fields.articles.step_2_variant_3_url' %}
    {% include 'custom_fields.articles.step_3_variant_1_url' %}
    {% include 'custom_fields.articles.step_3_variant_2_url' %}
    {% include 'custom_fields.articles.step_3_variant_3_url' %}
    {% include 'custom_fields.articles.image8' %}
    {% include 'custom_fields.articles.image8_link' %}
    {% include 'custom_fields.articles.embed-instagram8' %}
    {% include 'custom_fields.articles.embed-instagram-mobile-8' %}
    {% include 'custom_fields.articles.embed-instagram-link8' %}
    {% include 'custom_fields.articles.heading8' %}
    {% include 'custom_fields.articles.content8' %}
    {% include 'custom_fields.articles.banner_video' %}
    {% include 'custom_fields.articles.video_1' %}
    {% include 'custom_fields.articles.video_2' %}
    {% include 'custom_fields.articles.step1_full_video' %}
    {% include 'custom_fields.articles.grid_video_3' %}
    {% include 'custom_fields.articles.grid_full_video_2' %}
    {% include 'custom_fields.articles.grid_video_4' %}
    {% include 'custom_fields.articles.grid_full_video_3' %}
    {% include 'custom_fields.articles.video_below_heading' %}
    {% include 'custom_fields.articles.grid_video_5' %}
    {% include 'custom_fields.articles.step_4_full_video' %}
    {% include 'custom_fields.articles.grid_video_6' %}
    {% include 'custom_fields.articles.step_5_full_video' %}
    {% include 'custom_fields.articles.grid_video_7' %}
    {% include 'custom_fields.articles.step_6_full_video' %}
    {% include 'custom_fields.articles.bottom_full_video' %}
    {% include 'custom_fields.articles.centered_text' %}
  </div>
{% endif %}
{% if blog.id == 22383198295 %}
  <div class="custom-fields-wrapper">
    {% include 'custom_fields.articles.featured--instagram_desktop' %}
    {% include 'custom_fields.articles.featured--instagram_mobile' %}
    {% include 'custom_fields.articles.image1' %}
    {% include 'custom_fields.articles.image1_link' %}
    {% include 'custom_fields.articles.embed-instagram1' %}
    {% include 'custom_fields.articles.embed-instagram-mobile-1' %}
    {% include 'custom_fields.articles.embed-instagram-link1' %}
    {% include 'custom_fields.articles.heading1' %}
    {% include 'custom_fields.articles.content1' %}
    {% include 'custom_fields.articles.image2' %}
    {% include 'custom_fields.articles.image2_link' %}
    {% include 'custom_fields.articles.embed-instagram2' %}
    {% include 'custom_fields.articles.embed-instagram-mobile-2' %}
    {% include 'custom_fields.articles.embed-instagram-link2' %}
    {% include 'custom_fields.articles.heading2' %}
    {% include 'custom_fields.articles.content2' %}
    {% include 'custom_fields.articles.image3' %}
    {% include 'custom_fields.articles.image3_link' %}
    {% include 'custom_fields.articles.embed-instagram3' %}
    {% include 'custom_fields.articles.embed-instagram-mobile-3' %}
    {% include 'custom_fields.articles.embed-instagram-link3' %}
    {% include 'custom_fields.articles.heading3' %}
    {% include 'custom_fields.articles.content3' %}
    {% include 'custom_fields.articles.image4' %}
    {% include 'custom_fields.articles.image4_link' %}
    {% include 'custom_fields.articles.embed-instagram4' %}
    {% include 'custom_fields.articles.embed-instagram-mobile-4' %}
    {% include 'custom_fields.articles.embed-instagram-link4' %}
    {% include 'custom_fields.articles.heading4' %}
    {% include 'custom_fields.articles.content4' %}
    {% include 'custom_fields.articles.image5' %}
    {% include 'custom_fields.articles.image5_link' %}
    {% include 'custom_fields.articles.embed-instagram5' %}
    {% include 'custom_fields.articles.embed-instagram-mobile-5' %}
    {% include 'custom_fields.articles.embed-instagram-link5' %}
    {% include 'custom_fields.articles.heading5' %}
    {% include 'custom_fields.articles.content5' %}
    {% include 'custom_fields.articles.image6' %}
    {% include 'custom_fields.articles.image6_link' %}
    {% include 'custom_fields.articles.embed-instagram6' %}
    {% include 'custom_fields.articles.embed-instagram-mobile-6' %}
    {% include 'custom_fields.articles.embed-instagram-link6' %}
    {% include 'custom_fields.articles.heading6' %}
    {% include 'custom_fields.articles.content6' %}
    {% include 'custom_fields.articles.image7' %}
    {% include 'custom_fields.articles.image7_link' %}
    {% include 'custom_fields.articles.embed-instagram7' %}
    {% include 'custom_fields.articles.embed-instagram-mobile-7' %}
    {% include 'custom_fields.articles.embed-instagram-link7' %}
    {% include 'custom_fields.articles.heading7' %}
    {% include 'custom_fields.articles.content7' %}
    {% include 'custom_fields.articles.video-image-1' %}
    {% include 'custom_fields.articles.video-1' %}
    {% include 'custom_fields.articles.video-content-1' %}
    {% include 'custom_fields.articles.product-handle-1' %}
    {% include 'custom_fields.articles.product-content-1' %}
    {% include 'custom_fields.articles.video-image-2' %}
    {% include 'custom_fields.articles.video-2' %}
    {% include 'custom_fields.articles.video-content-2' %}
    {% include 'custom_fields.articles.product-handle-2' %}
    {% include 'custom_fields.articles.product-content-2' %}
    {% include 'custom_fields.articles.video-image-3' %}
    {% include 'custom_fields.articles.video-3' %}
    {% include 'custom_fields.articles.video-content-3' %}
    {% include 'custom_fields.articles.product-handle-3' %}
    {% include 'custom_fields.articles.product-content-3' %}
    {% include 'custom_fields.articles.collection' %}
    {% include 'custom_fields.articles.author_name' %}
    {% include 'custom_fields.articles.problem' %}
    {% include 'custom_fields.articles.skin' %}
    {% include 'custom_fields.articles.age' %}
    {% include 'custom_fields.articles.body_type' %}
    {% include 'custom_fields.articles.price' %}
    {% include 'custom_fields.articles.celebrities' %}
    {% include 'custom_fields.articles.culture' %}
    {% include 'custom_fields.articles.device_type' %}
    {% include 'custom_fields.articles.family_size' %}
    {% include 'custom_fields.articles.fashion' %}
    {% include 'custom_fields.articles.events' %}
    {% include 'custom_fields.articles.gender' %}
    {% include 'custom_fields.articles.health_conscious' %}
    {% include 'custom_fields.articles.home_making' %}
    {% include 'custom_fields.articles.cause' %}
    {% include 'custom_fields.articles.colour' %}
    {% include 'custom_fields.articles.hair_attributes' %}
    {% include 'custom_fields.articles.interest' %}
    {% include 'custom_fields.articles.life_events' %}
    {% include 'custom_fields.articles.lifestage' %}
    {% include 'custom_fields.articles.lifestyle' %}
    {% include 'custom_fields.articles.lsm' %}
    {% include 'custom_fields.articles.marital_status' %}
    {% include 'custom_fields.articles.media' %}
    {% include 'custom_fields.articles.naturals' %}
    {% include 'custom_fields.articles.onsite' %}
    {% include 'custom_fields.articles.persona' %}
    {% include 'custom_fields.articles.problems' %}
    {% include 'custom_fields.articles.product' %}
    {% include 'custom_fields.articles.purchase_details' %}
    {% include 'custom_fields.articles.travel' %}
    {% include 'custom_fields.articles.trials___sampling' %}
    {% include 'custom_fields.articles.values' %}
    {% include 'custom_fields.articles.vegan' %}
    {% include 'custom_fields.articles.banner_image' %}
    {% include 'custom_fields.articles.step1product' %}
    {% include 'custom_fields.articles.step1_product2' %}
    {% include 'custom_fields.articles.step1_product3' %}
    {% include 'custom_fields.articles.step2_product1' %}
    {% include 'custom_fields.articles.step2_product2' %}
    {% include 'custom_fields.articles.step2_product3' %}
    {% include 'custom_fields.articles.step3_product1' %}
    {% include 'custom_fields.articles.step3_product2' %}
    {% include 'custom_fields.articles.step3_product3' %}
    {% include 'custom_fields.articles.variant_1_url' %}
    {% include 'custom_fields.articles.step_1_variant_2_url' %}
    {% include 'custom_fields.articles.step_1_variant_3_url' %}
    {% include 'custom_fields.articles.step_2_variant_1_url' %}
    {% include 'custom_fields.articles.step_2_variant_2_url' %}
    {% include 'custom_fields.articles.step_2_variant_3_url' %}
    {% include 'custom_fields.articles.step_3_variant_1_url' %}
    {% include 'custom_fields.articles.step_3_variant_2_url' %}
    {% include 'custom_fields.articles.step_3_variant_3_url' %}
    {% include 'custom_fields.articles.image8' %}
    {% include 'custom_fields.articles.image8_link' %}
    {% include 'custom_fields.articles.embed-instagram8' %}
    {% include 'custom_fields.articles.embed-instagram-mobile-8' %}
    {% include 'custom_fields.articles.embed-instagram-link8' %}
    {% include 'custom_fields.articles.heading8' %}
    {% include 'custom_fields.articles.content8' %}
    {% include 'custom_fields.articles.banner_video' %}
    {% include 'custom_fields.articles.video_1' %}
    {% include 'custom_fields.articles.video_2' %}
    {% include 'custom_fields.articles.step1_full_video' %}
    {% include 'custom_fields.articles.grid_video_3' %}
    {% include 'custom_fields.articles.grid_full_video_2' %}
    {% include 'custom_fields.articles.grid_video_4' %}
    {% include 'custom_fields.articles.grid_full_video_3' %}
    {% include 'custom_fields.articles.video_below_heading' %}
    {% include 'custom_fields.articles.grid_video_5' %}
    {% include 'custom_fields.articles.step_4_full_video' %}
    {% include 'custom_fields.articles.grid_video_6' %}
    {% include 'custom_fields.articles.step_5_full_video' %}
    {% include 'custom_fields.articles.grid_video_7' %}
    {% include 'custom_fields.articles.step_6_full_video' %}
    {% include 'custom_fields.articles.bottom_full_video' %}
    {% include 'custom_fields.articles.centered_text' %}
  </div>
{% endif %}
{% if blog.id == 22383231063 %}
  <div class="custom-fields-wrapper">
    {% include 'custom_fields.articles.featured--instagram_desktop' %}
    {% include 'custom_fields.articles.featured--instagram_mobile' %}
    {% include 'custom_fields.articles.image1' %}
    {% include 'custom_fields.articles.image1_link' %}
    {% include 'custom_fields.articles.embed-instagram1' %}
    {% include 'custom_fields.articles.embed-instagram-mobile-1' %}
    {% include 'custom_fields.articles.embed-instagram-link1' %}
    {% include 'custom_fields.articles.heading1' %}
    {% include 'custom_fields.articles.content1' %}
    {% include 'custom_fields.articles.image2' %}
    {% include 'custom_fields.articles.image2_link' %}
    {% include 'custom_fields.articles.embed-instagram2' %}
    {% include 'custom_fields.articles.embed-instagram-mobile-2' %}
    {% include 'custom_fields.articles.embed-instagram-link2' %}
    {% include 'custom_fields.articles.heading2' %}
    {% include 'custom_fields.articles.content2' %}
    {% include 'custom_fields.articles.image3' %}
    {% include 'custom_fields.articles.image3_link' %}
    {% include 'custom_fields.articles.embed-instagram3' %}
    {% include 'custom_fields.articles.embed-instagram-mobile-3' %}
    {% include 'custom_fields.articles.embed-instagram-link3' %}
    {% include 'custom_fields.articles.heading3' %}
    {% include 'custom_fields.articles.content3' %}
    {% include 'custom_fields.articles.image4' %}
    {% include 'custom_fields.articles.image4_link' %}
    {% include 'custom_fields.articles.embed-instagram4' %}
    {% include 'custom_fields.articles.embed-instagram-mobile-4' %}
    {% include 'custom_fields.articles.embed-instagram-link4' %}
    {% include 'custom_fields.articles.heading4' %}
    {% include 'custom_fields.articles.content4' %}
    {% include 'custom_fields.articles.image5' %}
    {% include 'custom_fields.articles.image5_link' %}
    {% include 'custom_fields.articles.embed-instagram5' %}
    {% include 'custom_fields.articles.embed-instagram-mobile-5' %}
    {% include 'custom_fields.articles.embed-instagram-link5' %}
    {% include 'custom_fields.articles.heading5' %}
    {% include 'custom_fields.articles.content5' %}
    {% include 'custom_fields.articles.image6' %}
    {% include 'custom_fields.articles.image6_link' %}
    {% include 'custom_fields.articles.embed-instagram6' %}
    {% include 'custom_fields.articles.embed-instagram-mobile-6' %}
    {% include 'custom_fields.articles.embed-instagram-link6' %}
    {% include 'custom_fields.articles.heading6' %}
    {% include 'custom_fields.articles.content6' %}
    {% include 'custom_fields.articles.image7' %}
    {% include 'custom_fields.articles.image7_link' %}
    {% include 'custom_fields.articles.embed-instagram7' %}
    {% include 'custom_fields.articles.embed-instagram-mobile-7' %}
    {% include 'custom_fields.articles.embed-instagram-link7' %}
    {% include 'custom_fields.articles.heading7' %}
    {% include 'custom_fields.articles.content7' %}
    {% include 'custom_fields.articles.video-image-1' %}
    {% include 'custom_fields.articles.video-1' %}
    {% include 'custom_fields.articles.video-content-1' %}
    {% include 'custom_fields.articles.product-handle-1' %}
    {% include 'custom_fields.articles.product-content-1' %}
    {% include 'custom_fields.articles.video-image-2' %}
    {% include 'custom_fields.articles.video-2' %}
    {% include 'custom_fields.articles.video-content-2' %}
    {% include 'custom_fields.articles.product-handle-2' %}
    {% include 'custom_fields.articles.product-content-2' %}
    {% include 'custom_fields.articles.video-image-3' %}
    {% include 'custom_fields.articles.video-3' %}
    {% include 'custom_fields.articles.video-content-3' %}
    {% include 'custom_fields.articles.product-handle-3' %}
    {% include 'custom_fields.articles.product-content-3' %}
    {% include 'custom_fields.articles.collection' %}
    {% include 'custom_fields.articles.author_name' %}
    {% include 'custom_fields.articles.problem' %}
    {% include 'custom_fields.articles.skin' %}
    {% include 'custom_fields.articles.age' %}
    {% include 'custom_fields.articles.body_type' %}
    {% include 'custom_fields.articles.price' %}
    {% include 'custom_fields.articles.celebrities' %}
    {% include 'custom_fields.articles.culture' %}
    {% include 'custom_fields.articles.device_type' %}
    {% include 'custom_fields.articles.family_size' %}
    {% include 'custom_fields.articles.fashion' %}
    {% include 'custom_fields.articles.events' %}
    {% include 'custom_fields.articles.gender' %}
    {% include 'custom_fields.articles.health_conscious' %}
    {% include 'custom_fields.articles.home_making' %}
    {% include 'custom_fields.articles.cause' %}
    {% include 'custom_fields.articles.colour' %}
    {% include 'custom_fields.articles.hair_attributes' %}
    {% include 'custom_fields.articles.interest' %}
    {% include 'custom_fields.articles.life_events' %}
    {% include 'custom_fields.articles.lifestage' %}
    {% include 'custom_fields.articles.lifestyle' %}
    {% include 'custom_fields.articles.lsm' %}
    {% include 'custom_fields.articles.marital_status' %}
    {% include 'custom_fields.articles.media' %}
    {% include 'custom_fields.articles.naturals' %}
    {% include 'custom_fields.articles.onsite' %}
    {% include 'custom_fields.articles.persona' %}
    {% include 'custom_fields.articles.problems' %}
    {% include 'custom_fields.articles.product' %}
    {% include 'custom_fields.articles.purchase_details' %}
    {% include 'custom_fields.articles.travel' %}
    {% include 'custom_fields.articles.trials___sampling' %}
    {% include 'custom_fields.articles.values' %}
    {% include 'custom_fields.articles.vegan' %}
    {% include 'custom_fields.articles.banner_image' %}
    {% include 'custom_fields.articles.step1product' %}
    {% include 'custom_fields.articles.step1_product2' %}
    {% include 'custom_fields.articles.step1_product3' %}
    {% include 'custom_fields.articles.step2_product1' %}
    {% include 'custom_fields.articles.step2_product2' %}
    {% include 'custom_fields.articles.step2_product3' %}
    {% include 'custom_fields.articles.step3_product1' %}
    {% include 'custom_fields.articles.step3_product2' %}
    {% include 'custom_fields.articles.step3_product3' %}
    {% include 'custom_fields.articles.variant_1_url' %}
    {% include 'custom_fields.articles.step_1_variant_2_url' %}
    {% include 'custom_fields.articles.step_1_variant_3_url' %}
    {% include 'custom_fields.articles.step_2_variant_1_url' %}
    {% include 'custom_fields.articles.step_2_variant_2_url' %}
    {% include 'custom_fields.articles.step_2_variant_3_url' %}
    {% include 'custom_fields.articles.step_3_variant_1_url' %}
    {% include 'custom_fields.articles.step_3_variant_2_url' %}
    {% include 'custom_fields.articles.step_3_variant_3_url' %}
    {% include 'custom_fields.articles.image8' %}
    {% include 'custom_fields.articles.image8_link' %}
    {% include 'custom_fields.articles.embed-instagram8' %}
    {% include 'custom_fields.articles.embed-instagram-mobile-8' %}
    {% include 'custom_fields.articles.embed-instagram-link8' %}
    {% include 'custom_fields.articles.heading8' %}
    {% include 'custom_fields.articles.content8' %}
    {% include 'custom_fields.articles.banner_video' %}
    {% include 'custom_fields.articles.video_1' %}
    {% include 'custom_fields.articles.video_2' %}
    {% include 'custom_fields.articles.step1_full_video' %}
    {% include 'custom_fields.articles.grid_video_3' %}
    {% include 'custom_fields.articles.grid_full_video_2' %}
    {% include 'custom_fields.articles.grid_video_4' %}
    {% include 'custom_fields.articles.grid_full_video_3' %}
    {% include 'custom_fields.articles.video_below_heading' %}
    {% include 'custom_fields.articles.grid_video_5' %}
    {% include 'custom_fields.articles.step_4_full_video' %}
    {% include 'custom_fields.articles.grid_video_6' %}
    {% include 'custom_fields.articles.step_5_full_video' %}
    {% include 'custom_fields.articles.grid_video_7' %}
    {% include 'custom_fields.articles.step_6_full_video' %}
    {% include 'custom_fields.articles.bottom_full_video' %}
    {% include 'custom_fields.articles.centered_text' %}
  </div>
{% endif %}