{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/hul-lakme.myshopify.com/articles/edit-field/48599
{% endcomment %}
{% if article.metafields.custom_fields["trials_/_sampling"] != blank %}
  <div class="custom-field custom-field__trials---sampling custom-field__type--text-list">
    <h3 class="custom-field--title">Trials / sampling</h3>
    <div class="custom-field--value">  
      {% assign values = article.metafields.custom_fields["trials_/_sampling"] | split: "|" %}
      <ul>
      {% for value in values %}
        <li>{{ value }}</li>
      {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}