{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/hul-lakme.myshopify.com/articles/edit-field/53681
{% endcomment %}
{% if article.metafields.custom_fields["step_1_variant_3_url"] != blank %}
  <div class="custom-field custom-field__step-1-variant-3-url custom-field__type--url">
    <h3 class="custom-field--title">Step 1 Variant 3 url</h3>
    <div class="custom-field--value">
      {{ article.metafields.custom_fields["step_1_variant_3_url"] }}
    </div>
  </div>
{% endif %}