{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/hul-lakme.myshopify.com/articles/edit-field/40703
{% endcomment %}
{% if article.metafields.custom_fields["embed-instagram-link1"] != blank %}
  <div class="custom-field custom-field__embed-instagram-link1 custom-field__type--text">
    <h3 class="custom-field--title">Embed-Instagram-link1</h3>
    <div class="custom-field--value">
      {{ article.metafields.custom_fields["embed-instagram-link1"] }}
    </div>
  </div>
{% endif %}