{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/hul-lakme.myshopify.com/articles/edit-field/39658
{% endcomment %}
{% if article.metafields.custom_fields["video-image-1"] != blank %}
  <div class="custom-field custom-field__video-image-1 custom-field__type--image">
    <h3 class="custom-field--title">video-image-1</h3>
    <div class="custom-field--value">
      {{ article.metafields.custom_fields["video-image-1"] }}
    </div>
  </div>
{% endif %}