{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/hul-lakme.myshopify.com/articles/configure/69855/edit
{% endcomment %}
{% if article.metafields.custom_fields["grid_video_5"] != blank %}
  <div class="custom-field custom-field__grid-video-5 custom-field__type--embed">
    <h3 class="custom-field--title">Grid Video 5</h3>
    <div class="custom-field--value">
      {{ article.metafields.custom_fields["grid_video_5"] }}
    </div>
  </div>
{% endif %}