{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/hul-lakme.myshopify.com/articles/edit-field/41740
{% endcomment %}
{% if article.metafields.custom_fields["featured--instagram_mobile"] != blank %}
  <div class="custom-field custom-field__featured--instagram-mobile custom-field__type--embed">
    <h3 class="custom-field--title">Featured--Instagram_Mobile</h3>
    <div class="custom-field--value">
      {{ article.metafields.custom_fields["featured--instagram_mobile"] }}
    </div>
  </div>
{% endif %}