{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/hul-lakme.myshopify.com/products/edit-field/51678
{% endcomment %}
{% if product.metafields.custom_fields["video_thumb_image"] != blank %}
  <div class="custom-field custom-field__video-thumb-image custom-field__type--image">
    <h3 class="custom-field--title">Video thumb image</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["video_thumb_image"] }}
    </div>
  </div>
{% endif %}