{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. YOU CAN COPY AND PASTE INTO A NEW SNIPPET.
  THIS FILE WILL BE OVERWRITTEN.
{% endcomment %}
<div class="custom-fields-wrapper">
  {% include 'custom_fields.products.description' %}
  {% include 'custom_fields.products.application' %}
  {% include 'custom_fields.products.hover_image' %}
  {% include 'custom_fields.products.basepack' %}
  {% include 'custom_fields.products.cbu' %}
  {% include 'custom_fields.products.related_stories' %}
  {% include 'custom_fields.products.manual' %}
  {% include 'custom_fields.products.body_type' %}
  {% include 'custom_fields.products.video' %}
  {% include 'custom_fields.products.video_thumb_image' %}
  {% include 'custom_fields.products.variant_1_url' %}
  {% include 'custom_fields.products.step_1_variant_2_url' %}
  {% include 'custom_fields.products.try_it' %}
</div>