<!-- /templates/collection.liquid -->

<div  id="CollectionSection" data-section-id="{{ section.id }}" data-section-type="collection-template" data-grid-type="{{ section.settings.collection_products_grid }}">
  {% include 'collection-template-lips' %}
</div>
{% schema %}
{
"name": {
"pt-BR": "Páginas de Coleções",
"es": "Páginas de colección",
"de": "Kategorieseiten",
"it": "Pagine delle collezioni",
"en": "Collection pages",
"ja": "コレクションページ",
"fr": "Pages de collection"
},
"settings": [
{
"type": "select",
"id": "collection_products_grid",
"label": {
"pt-BR": "Estilo da grade",
"es": "Estilo de cuadrícula",
"de": "Rasterstil",
"it": "Stile griglia",
"en": "Grid style",
"ja": "グリッドスタイル",
"fr": "Style de grille"
},
"options": [
{
"value": "grid",
"label": {
"pt-BR": "Grade",
"es": "Cuadrícula",
"de": "Raster",
"it": "Griglia",
"en": "Grid",
"ja": "グリッド",
"fr": "Grille"
}
}
]
},
{
"type": "checkbox",
"id": "enable_header",
"label": {
"pt-BR": "Exiba o fornecedor do produto",
"es": "Mostrar proveedor del producto",
"de": "Produktverkäufer anzeigen",
"it": "Indica fornitore prodotto",
"en": "Show collection name and description",
"ja": "商品の販売元を表示する",
"fr": "Afficher le distributeur du produit"
}
},
{
"type": "checkbox",
"id": "collection_sort_enable",
"label": {
"pt-BR": "Ativar a ordenação de coleções",
"es": "Habilitar la la función ordenar colecciones",
"de": "Kategoriesortierung aktivieren",
"it": "Abilita ordinamento collezione",
"en": "Enable collection sorting",
"ja": "コレクションの並べ替えを有効にする",
"fr": "Activer le tri de la collection"
}
},
{
"type": "checkbox",
"id": "product_vendor_enable",
"label": {
"pt-BR": "Exiba o fornecedor do produto",
"es": "Mostrar proveedor del producto",
"de": "Produktverkäufer anzeigen",
"it": "Indica fornitore prodotto",
"en": "Show product vendor",
"ja": "商品の販売元を表示する",
"fr": "Afficher le distributeur du produit"
}
},
{
"type": "checkbox",
"id": "enable_sidebar",
"label": {
"pt-BR": "Exiba o fornecedor do produto",
"es": "Mostrar proveedor del producto",
"de": "Produktverkäufer anzeigen",
"it": "Indica fornitore prodotto",
"en": "Show Sidebar",
"ja": "商品の販売元を表示する",
"fr": "Afficher le distributeur du produit"
}
},
{
"type" : "checkbox",
"id" : "enable_buy_btn",
"label" : "Enable Buy Button"
}

]
}
{% endschema %}
