{% if section.settings.image != blank %}
<div class="grid instagram-banner-wrapper">
  <div class="grid__item one-whole" >
    <img class="instagram-banner-img for-desktop-show insta-small--hide"  src="{{ section.settings.image | img_url : '1920x'}}" alt="{{ section.settings.image.alt | escape }}" />
    {% if section.settings.image1 != blank %}
    <img class="instagram-banner-img for-mobile-show insta-large--hide"  src="{{ section.settings.image1 | img_url : '1920x'}}" alt="{{ section.settings.image.alt | escape }}" />
    {% endif %}
  </div>
</div>
{% endif %}
{% schema %}
{
"name": "Banner Section",
"class":"instagram-banner",
"settings": [
{
"type" : "image_picker",
"id" : "image",
"label" : "Desktop Background Image"
},
{
"type" : "image_picker",
"id" : "image1",
"label" : "Mobile Background Image"
}
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
