<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  $( function() {
    var searchProducts = [];
    $.ajax({
      url:"/products.json?limit=250",  
      success:function(data) {
        $.each(data.products, function(i, item) {
          //console.log(item.title);
          searchProducts.push(item.title);
        }); 
      }
    });
    $( ".tags" ).autocomplete({
      source: searchProducts
    });
  });
</script>

<div class="ui-widget">
  <label for="tags">Search</label>
  <input id="tags" class="tags">
</div>
